  body, input {
    font-family: Roboto;
    background-color: rgb(20, 20, 20);
    color: white;
    transition: background 0.2s, color 0.2s;
    --hover-color: #444444;
    --footnote-color: rgba(255, 255, 255, 0.7);
  }

  .light-mode {
    --hover-color: #d6d6d6;
    background-color: white;
    color: black;
    --footnote-color: rgba(0, 0, 0, 0.7);
  }

  .title {
    font-size: 40px;
    font-weight:500;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .guess1, .guess2, .guess3, .guess4, .guess5, .guess6 {
    height: 28px;
    width: 650px;
    padding-left: 10px;
    padding-top: 8px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

  .wrong {
    color: red;
  }

  .partial {
    color: rgb(255, 208, 0);
  }


  .search {
    width: 648px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
  }

  .search:focus {
    outline-color: rgb(223, 220, 174);
  }

  .autocomplete {
    position: relative;
    text-align: center;
    margin: 0 auto;
    background-color: inherit;
    max-width: 662px;
    max-height: 190px;
    overflow: auto;
    border-color: rgb(223, 220, 174);
    border-style: solid;
  }

  .autocomplete-items {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    width: 660px;
    height: 35px;
  }

  .autocomplete-items:hover {
    background-color: var(--hover-color);
    cursor: pointer;
  }

  .autocomplete-items-text, .autocomplete-item-highlight {
    padding-top: 8px;
  }

  .autocomplete-item-highlight {
    color: rgb(255, 208, 0);
  }

  .letter-highlight {
    background-color: rgba(151, 146, 119, 0.4);
  }

  .footnote {
    padding: 6px;
    font-size: 13.5px;
    color: var(--footnote-color);
  }

  .guess-buttons {
    display: flex;
    justify-content: space-between;
    width: 660px;
    left: 0;
    right: 0;
    margin: 0 auto;  
    position: absolute;

  }

  .skip {
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit;
    height: 60px;
    width: 130px;
    border-radius:30px;
    border-style: solid;
    cursor: pointer;
  }

  .skip:hover {
    opacity: 0.8;
  }


  .submit {
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(220, 216, 164, 0.9);
    height: 60px;
    width: 130px;
    border-radius:30px;
    border: none;
    cursor: pointer;
  }
  .submit:hover {
    opacity: 0.8;
  }

  audio {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 500px;
  }
