  body, input {
    font-family: Roboto;
    background-color: rgb(20, 20, 20);
    color: white;
    transition: background 0.2s, color 0.2s;
    --hover-color: #444444;

  }

  .light-mode {
    --hover-color: #d6d6d6;
    background-color: white;
    color: black;
  }

  .title {
    font-size: 40px;
    font-weight:500;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .guess1, .guess2, .guess3, .guess4, .guess5, .guess6 {
    height: 28px;
    width: 650px;
    padding-left: 10px;
    padding-top: 8px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }


  .search {
    width: 648px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
  }

  .search:focus {
    outline-color: rgb(72, 250, 72);
  }

  .autocomplete {
    /* overflow: hidden; */
    position: relative;
    background-color: inherit;
    width: 662px;
    height: 223px;
    text-align: center;
    margin: 0 auto;
    overflow: auto;
  }

  .autocomplete-items {
    /* position: relative; */
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    width: 660px;
    height: 35px;
    /* overflow: auto; */
    /* scrollbar-color: red orange;
    scrollbar-width: thin;  */

  }

  .autocomplete-items:hover {
    background-color: var(--hover-color);
    cursor: pointer;
  }

  .autocomplete-items-text, .autocomplete-item-highlight {
    padding-top: 8px;
  }

  .autocomplete-item-highlight {
    color: rgb(255, 208, 0);
  }

  .letter-highlight {
    background-color: rgba(150, 150, 150, 0.4);
  }

  .footnote {
    /* color: white; */
    padding-top: 9px;
    font-size: 14px;
  }

  .skip {
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit;
    height: 60px;
    width: 130px;
    border-radius:30px;
    border-style: solid;
    position: absolute;
    left: 27%;
    cursor: pointer;
  }

  .skip:hover {
    opacity: 0.8;
  }


  .submit {
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(72, 250, 72);
    height: 60px;
    width: 130px;
    border-radius:30px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 63.9%;
  }
  .submit:hover {
    opacity: 0.8;
  }

  audio {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 500px;
  }
