  body {
    background-color: rgb(20, 20, 20);
  }

  .title {
    font-family: Roboto;
    font-size: 40px;
    font-weight:500;
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }

  .guess1, .guess2, .guess3, .guess4, .guess5, .guess6 {
    font-family: Roboto;
    height: 28px;
    width: 650px;
    padding-left: 10px;
    padding-top: 8px;
    border-color: gray;
    /* background-color: black; */
    border-style: solid;
    border-width: 1px;
    color: lightgray;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }


  .search {
    font-family: Roboto;
    width: 648px;
    height: 35px;
    background-color: black;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
  }

  .search:focus {
    outline-color: rgb(60, 238, 60);
  }

  .autocomplete-items {
    font-family: Roboto;
    color: white;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 660px;
    height: 35px;
    margin: 0 auto;
  }

  .autocomplete-items:hover {
    opacity: 0.85;
    cursor: pointer;
  }

  .autocomplete-items-text, .autocomplete-item-highlight {
    padding-top: 8px;
  }

  .autocomplete-item-highlight {
    color: rgb(255, 208, 0);
  }

  .letter-highlight {
    background-color: rgb(75, 75, 75);
  }

  .skip {
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    color: white;
    height: 60px;
    width: 130px;
    border-radius:30px;
    border-style: solid;
    /* margin-left: 300px; */
    /* margin-top: 50px; */
    position: absolute;
    left: 27%;
    /* -ms-transform: translateY(-50%); */
    /* transform: translateY(-50%); */

    cursor: pointer;
  }

  .skip:hover {
    opacity: 0.8;
  }


  .submit {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(72, 250, 72);
    color: black;
    height: 60px;
    width: 130px;
    border-radius:30px;
    border: none;
    /* margin-left: 20px; */
    /* margin-top: 50px; */
    cursor: pointer;
    position: absolute;
    left: 64%;
  }
  .submit:hover {
    opacity: 0.8;
  }

  audio {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 500px;
  }